<h1>All Students</h1>
<%= link_to 'New Student', new_student_path, class: "btn btn-info btn-float tooltips" %>
<span>
<%= link_to "Import", new_student_import_path, class: "btn btn-info btn-float tooltips" %>
<%= link_to "Export", students_path(format: "csv"), class: "btn btn-info btn-float tooltips"  %>
</span>
<table id="student" class="table table-hover">
  <thead>
    <tr>
      <th>&nbsp; &nbsp; &nbsp;</th>
      <th><%= sortable "code", "Student Code" %></th>
      <th><%= sortable "name", "Student Name" %></th>
      <th><%= sortable "title", "Course" %></th>
      <th><%= sortable "created_at", "Created Time" %></th>
      <th><%= sortable "updated_at", "Updated Time" %></th>
      
      <th style="width: 150px;">
        <%= form_tag students_path, :method => 'get', :id => "user_select" do %>
          <%= select_tag :user_id, options_from_collection_for_select(User.all, 'id', 'name'), id: "user_select", onchange: 'this.form.submit();', prompt: " " %>
        <% end %>
      </th>
      <th><%= sortable "status", "Status" %></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      
    </tr>
  </thead>

  <tbody>
  <%= form_tag bulk_print_students_path, id: "print_all" do %>
    <% @resources.each do |student| %>
      <tr>
        <td class="custom-control custom-checkbox"><%= check_box_tag 'student_ids[]', student.id, false %></td>
        <td><%= student.code %></td>
        <td><%= student.name %></td>
        <td><%= student.course.title %></td>
        <td> <%= student.created_at.strftime("%Y-%m-%d %I:%M") %></td>
        <td><%= student.updated_at.strftime("%Y-%m-%d %I:%M")%> </td>
        <td><%= student.user.name %></td>
        <td><%= student.status%> </td>
        <td><%= link_to student_path(student, format: 'pdf'), class: "btn btn-default btn btn-info" do %>
          <i class="far fa-file-pdf"></i>
       <% end %>
       </td>
       <td><%= link_to edit_student_path(student), class: "btn btn-default btn btn-success" do %>
         <i class="glyphicon glyphicon-edit"></i>
       <% end %>
       </td>
       <td><%= link_to student, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn btn-danger" do %>
         <i class="glyphicon glyphicon-trash"></i>
       <% end %>
       </td>
      </tr>
    <% end %>
    <%= submit_tag "Print to PDF", class: "btn btn-success pdf_print" %>
    <% end %>
  </tbody>
</table>
<%= render 'index_footer' %>

