<h1>All Students</h1>
<%= link_to 'New Student', new_student_path, class: "btn btn-primary" %>
<table id="student" class="table table-hover">
  <thead>
    <tr>
    <th><%= sortable "code", "Student Code" %></th>
    <th><%= sortable "name", "Student Name" %></th>
    <th><%= sortable "course", "Course" %>Course</th>
    <th><%= sortable "created_at", "Created Time" %></th>
    <th><%= sortable "updated_at", "Updated Time" %></th>
    <th><%= sortable "status", "Status" %></th>
    <th></th>
    <th></th>
    <th></th>
      
    </tr>
  </thead>

  <tbody>
    
    <% @resources.each do |student| %>
      <tr>
        <td><%= student.code %></td>
        <td><%= student.name %></td>
        <td><%= student.course.name %></td>
        <td> <%= student.created_at %></td>
        <td><%= student.updated_at%> </td>
        <td><%= student.status%> </td>
        <td>
          <%= link_to student, :class => "btn btn-crud-action btn-xs tooltips" do %>
            <i class="glyphicon glyphicon-list-alt"></i>
          <% end %>
        </td>
        <td><%= link_to edit_student_path(student), class: "btn btn-default btn btn-success" do %>
          <i class="glyphicon glyphicon-edit"></i>
        <% end %>
        </td>
        <td><%= link_to student, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn btn-danger" do %>
          <i class="glyphicon glyphicon-trash"></i>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


